{% extends 'base.html' %} {% block content %}
<main class="container py-5">
  <section class="card card-body">
    <h1 class="display-1 text-center">Django App</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta debitis
      nesciunt corporis maiores labore quibusdam saepe sit in deleniti
      temporibus, voluptate dolor illum architecto sed unde consectetur sapiente
      eligendi! Non. Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Libero consectetur, sint commodi iusto accusamus in dolorem, saepe
      similique ex placeat sequi officia. Id amet saepe dolorum eius rerum eum
      repudiandae. Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Pariatur molestias officia accusamus exercitationem. Quo totam quisquam
      eveniet, aut sunt modi rem. Numquam excepturi nobis dolore cumque fugit
      et. Veritatis, distinctio. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Saepe voluptas aliquam alias! Dicta facilis rem
      laboriosam magnam. Quis unde, voluptate commodi excepturi nam, illum
      blanditiis hic aspernatur voluptatum error aliquid! Lorem ipsum dolor sit
      amet consectetur adipisicing elit. Hic cupiditate nesciunt soluta
      reiciendis sit dicta optio laboriosam reprehenderit sequi earum,
      voluptatem fuga ut iure, odit, molestiae voluptate autem itaque sunt.
    </p>
    <div class="d-flex justify-content-around">
      <a class="btn btn-primary" href="/signin/">Singin</a>
      <a class="btn btn-primary" href="/signup/">Singup</a>
    </div>
  </section>
</main>
{% endblock %}
