{% extends 'base.html' %} {% block content %}
<div class="d-flex align-items-center justify-content-center custom-vh-80">
  <main class="container">
    <section class="card card-body">
      <h1 class="display-1 text-center">Django App</h1>
      <p>
        I expanded my portfolio with the creation of a CRUD task system,
        highlighting my skills in web development and the implementation of
        essential functionalities. Designed with a focus on usability, this
        project requires users to register to access the system, ensuring a
        personalized experience. The app allows users to manage their tasks
        efficiently, with the ability to add, edit and delete entries. Details
        such as due date, description and completion status can be customized to
        suit individual needs. Advanced capabilities like notifications and
        labels add an extra level of organization. This project demonstrates my
        skill in developing practical and functional solutions. Although the
        design follows a modern and standard line, the main focus is on
        providing useful tools for managing daily tasks, highlighting the
        importance of user experience and effectiveness in functionality.
      </p>
      <div class="d-flex justify-content-around">
        <a class="btn btn-primary" href="/signin/">Singin</a>
        <a class="btn btn-primary" href="/signup/">Singup</a>
      </div>
    </section>
  </main>
</div>
{% endblock %}
